@{
    Layout = "_ManagerLayout";
}
<body>

    <div class="maintenance-container vh-100">

        <!-- Container starts -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-9">
                    <h2 class="mb-3 display-1 text-danger">We're coming soon!</h2>
                    <div class="w-50 m-auto mb-3">
                        <p class="mb-4">
                            We are working very hard on the new version of our site.
                            It will bring a lot of new features. Stay tuned!
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Container ends -->

    </div>
    <!-- Comingsoon container ends -->

</body>
